<!DOCTYPE html>
<html ng-app="helloApp">
  <head>
    <title></title>
    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body>
    <div ng-controller='FilterController'>
      <select ng-model="item" ng-options="item.name for item in items | filter:{type:type.code}"></select>
      <select ng-model="type" ng-options="type.name for type in types | filter:{code:item.type}"></select>
      <p>item</p>
      {{ item | json }}
      <p>type</p>
      {{ type | json }}
    </div>
  </body>
</html>
